[workspace]
resolver = "2"
members = [
    "examples",
    "gears"
]

[workspace.package]
version = "0.1.0"
edition = "2021"
description = "The gears game engine"
homepage = ""
repository = "https://github.com/benditorok/gears"
keywords = ["game engine"]
license = ""
authors = ["benditorok"]

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3

[build]
rustflags = ["-Z", "threads=8"]

[workspace.dependencies]
tokio = { version = "1.40.0", features = ["full"] }
futures = "0.3.31"
anyhow = "1.0.89"
cfg-if = "1"
winit = { version = "0.30.5", features = ["rwh_05"] }
env_logger = "0.11.5"
log = "0.4"
wgpu = "22.0"
bytemuck = { version = "1.17", features = [ "derive" ] }
cgmath = "0.18"
tobj = { version = "4.0.2", features = [
    "async",
]}
image = { version = "0.25.4", default-features = false, features = ["png", "jpeg"] }
rand = "0.8"
egui = "0.29.1"
raw-window-handle = "0.6.2"
egui-wgpu = { version = "0.29.1",features = ["winit"] }
egui-winit = "0.29.1"
gltf = {version = "1.4", features =  ["extras", "names"]}